---
layout: default
---

<section class="featured inview-trigger">
    <div class="container">
        <div class="row mar-bot40">
            <div class="col-md-12">
                <div class="title-box">
                    <h1 class="slogan">Beautifully Designed. Devoutly Catholic.</h1>
                    <h2 class="slogansub">Catholic Website and App Development</h2>
                    <div class="btn-wrap">
                        <button type="button" class="btn" id="learnMore"><a class="scroll-to-section" href="#section-services">Learn More</a></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="go-to-arrow">
            <a href="#section-services"><i class="fa fa-angle-down"></i></a>
        </div>
    </div>
</section>

{% include services.html %}

{% include portfolio.html %}

{% include testimonials.html %}

{% include blog_posts.html %}
