---
layout: default
---

<section class="featured">
    <div class="container">
        <div class="row mar-bot40">
            <div class="col-md-7">
                <div class="align-left">
                    <h1 class="slogan">Beautifully Designed. Devoutly Catholic.</h1>
                    <h2 class="slogansub">Authentically Catholic Apps and Websites</h2>
                    <div class="btn">
                        <button type="button" class="btn btn-default" id="learnMore"><a href="#section-services">Learn More/a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% include services.html %}

{% include testimonials.html %}

{% include blog_posts.html %}
