---
layout: default
---

<section class="featured">
  <div class="container">
    <div class="row mar-bot40">
      <div class="col-md-7">
        <div class="align-left">
          <h2 class="slogan">Beautifully Designed. Devoutly Catholic.</h2>
          <h3 class="slogansub">Authentically Catholic Apps and Websites</h3>
          <div class="btn">
            <button type="button" class="btn btn-default" id="learnMore"><a href="#section-services">LEARN MORE</a></button><img src="/assets/images/line.png">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% include services.html %}

{% include testimonials.html %}

{% include blog_posts.html %}
