<section id="section-portfolio" class="section section-portfolio inview-trigger">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="section-title">The Portfolio</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <a class="fancybox" rel="gallery1" href="/assets/images/placeholder.png">
                    <img src="/assets/images/placeholder.png" alt="" />
                </a>
                <div class="titlebox">
                    <div class="titlebox-inner">
                        <p class="title">Title of Portfolio Item Here</p>
                        <a class="external-link" href=""><i class="fa fa-external-link"></i>View The Site</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <a class="fancybox" rel="gallery1" href="/assets/images/placeholder.png">
                    <img src="/assets/images/placeholder.png" alt="" />
                </a>
                <div class="titlebox">
                    <div class="titlebox-inner">
                        <p class="title">Title of Portfolio Item Here</p>
                        <a class="external-link" href=""><i class="fa fa-external-link"></i>View The Site</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <a class="fancybox" rel="gallery1" href="/assets/images/placeholder.png">
                    <img src="/assets/images/placeholder.png" alt="" />
                </a>
                <div class="titlebox">
                    <div class="titlebox-inner">
                        <p class="title">Title of Portfolio Item Here</p>
                        <a class="external-link" href=""><i class="fa fa-external-link"></i>View The Site</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>