<section data-id="section-services" class="section section-services inview-trigger-services">
    <div class="container">
        <div class="row">
            <div class="col-mdlg-12 title-wrapper">
                <h1 class="section-title">Services</h1>
                <p class="subheading">We are expert designers and developers, on a mission to serve the Church.</p>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                <div class="service-col">
                    <div class="img-wrapper">
                        <img src="/assets/images/icon-pencil.png" class="pencil">
                    </div>
                    <h2>Web Design</h2>
                    <p>Our approach to Catholic website design is to create beautiful, intuitive experiences that reflect the beauty of the Catholic Church and lead people closer to Christ.</p>
                </div>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                <div class="service-col">
                    <div class="img-wrapper">
                        <img src="/assets/images/icon-dev.png" class="code">
                    </div>
                    <h2>Web Development</h2>
                    <p>From small websites to large custom applications (and everything in between), we take complicated technologies and deliver simple solutions. Some of the technologies that we work with include: Ruby on Rails, JavaScript, and WordPress.</p>
                </div>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                <div class="service-col">
                    <div class="img-wrapper">
                        <img src="/assets/images/icon-mobile.png" class="mobile">
                    </div>
                    <h2>Mobile Apps</h2>
                    <p>Mobile devices are taking over the world. Do you have an idea for an iPhone or iPad app? Android app? Apple Watch? Apple TV? We can make your idea a reality.</p>
                </div>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                <div class="service-col">
                    <div class="img-wrapper">
                        <img src="/assets/images/icon-mail.png" class="mail">
                    </div>
                    <h2>Email &amp; Hosting</h2>
                    <p>Our vision is to offer you the best possible web hosting experience for your Catholic website. We take care to monitor and maintain our servers so that your website is always available and protected from attackers.</p>
                </div>
            </div>
        </div>
    </div>
</section>
