<section id="section-services" class="section pad-bot30 bg-white">
    <div class="container">
        <div class="row mar-bot40">
            <h1>Services</h1>
            <p class="subheading">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <div class="col-lg-3">
                <div class="align-center">
                    <img src="/assets/images/icon-pencil.png" class="pencil">
                    <h2 class="text-bold">Web Design</h2>
                    <p>Lorem ipsum dolor sit amet, mutat graeco volumus ad eam, singulis patrioque comprehensam nam no. Mei cu dicat voluptaria volumus.</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="align-center">
                    <img src="/assets/images/icon-dev.png" class="code">
                    <h2 class="text-bold">Web Development</h2>
                    <p>Lorem ipsum dolor sit amet, mutat graeco volumus ad eam, singulis patrioque comprehensam nam no. Mei cu dicat voluptaria volumus.</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="align-center">
                    <img src="/assets/images/icon-mobile.png" class="mobile">
                    <h2 class="text-bold">Mobile Development</h2>
                    <p>Lorem ipsum dolor sit amet, mutat graeco volumus ad eam, singulis patrioque comprehensam nam no. Mei cu dicat voluptaria volumus.</p>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="align-center">
                    <img src="/assets/images/icon-mail.png" class="mail">
                    <h2 class="text-bold">Email &amp; Web Hosting</h2>
                    <p>Lorem ipsum dolor sit amet, mutat graeco volumus ad eam, singulis patrioque comprehensam nam no. Mei cu dicat voluptaria volumus.</p>
                </div>
            </div>
        </div>
    </div>
</section>