<section id="testimonials" class="section" data-stellar-background-ratio="0.5">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="align-center">
          <div class="testimonial pad-top40 pad-bot40 clearfix">
            <h5>
              </br>
              </br>
              <i class="fa fa-quote-left fa-lg"></i>
              Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Vivamus tempor tempus mauris vitae fermentum. In vitae nulla lacus. Sed sagittis tortor vel arcu sollicitudin nec tincidunt metus suscipit.Nunc velit risus, dapibus non interdum.
              <i class="fa fa-quote-right fa-lg"></i>
            </h5>
            <br/>
            <span class="author">&mdash; MIKE DOE <a href="#">www.siteurl.com</a></span>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="align-left">
          <div class="testimonial pad-top40 pad-bot40 clearfix">
            <h3 class="color-white align-center">ABOUT DEVOUT DESIGN.</h3>
            <p class="color-white">
              Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Vivamus tempor tempus mauris vitae fermentum. In vitae nulla lacus. Sed sagittis tortor vel arcu sollicitudin nec tincidunt metus suscipit.Nunc velit risus, dapibus non interdum.
              Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Vivamus tempor tempus mauris vitae fermentum. In vitae nulla lacus. Sed sagittis tortor vel arcu sollicitudin nec tincidunt metus suscipit.Nunc velit risus, dapibus non interdum.
            </p>
            <br/>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
