<section id="section-about" class="section section-testimonials-about inview-trigger">
    <h1 class="sr-only">Testimonial snippet and About Us section</h1>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="testimonial-col">
                    <h2 class="sr-only">Testimonial</h2>
                    <blockquote>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    Molestias deserunt nemo dolor eos voluptatum autem voluptate veniam nobis ab ex, ad impeditnatus porro sequi pariatur neque sapiente aut harum eniam nobis ab ex, ad impedit</blockquote>
                </div>
            </div>
            <div class="col-md-6">
                <div class="about-col">
                    <h2>About Devout Design</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem dolor quam aut, error sequi iusto cumque quas veniam, commodi cupiditate dicta dolore ipsum itaque! Totam, deleniti, maxime. Sequi, optio iste.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, consectetur voluptates, tempora optio ex molestiae fuga magnam ut sed ipsam alias soluta adipisci. Quae ad magni saepe, cum sit esse!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero et tempore dicta perspiciatis neque perferendis incidunt optio porro, culpa harum tenetur distinctio voluptas, nesciunt at, officiis rem, voluptatum laborum praesentium.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum non dolor sit obcaecati eius laboriosam ex autem quos debitis culpa possimus, dolorum fugiat unde officiis hic natus ipsum adipisci veritatis!
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>