<section id="testimonials" class="section" data-stellar-background-ratio="0.5">
    <h1 class="sr-only">Testimonial snippet and About Us section</h1>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="align-center">
                    <div class="testimonial pad-top40 pad-bot40 clearfix">
                        <blockquote></i>Nunc velit risus, dapibus non interdum quis, suscipit nec dolor. Vivamus tempor tempus mauris vitae fermentum. In vitae nulla lacus. Sed sagittis tortor vel arcu sollicitudin nec tincidunt metus suscipit.Nunc velit risus, dapibus non interdum.</blockquote>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="align-left">
                    <div class="testimonial pad-top40 pad-bot40 clearfix">
                        <h3 class="color-white align-center">About Devout Design.</h3>
                        <p class="color-white">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem dolor quam aut, error sequi iusto cumque quas veniam, commodi cupiditate dicta dolore ipsum itaque! Totam, deleniti, maxime. Sequi, optio iste.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit, consectetur voluptates, tempora optio ex molestiae fuga magnam ut sed ipsam alias soluta adipisci. Quae ad magni saepe, cum sit esse!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero et tempore dicta perspiciatis neque perferendis incidunt optio porro, culpa harum tenetur distinctio voluptas, nesciunt at, officiis rem, voluptatum laborum praesentium.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum non dolor sit obcaecati eius laboriosam ex autem quos debitis culpa possimus, dolorum fugiat unde officiis hic natus ipsum adipisci veritatis!
                        </p>
                        <br/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>