// =========================================================================
//  btn
//==========================================================================
.btn {
    padding: 8px 20px;
    line-height: 1;
    border-radius: 0;
    background-color: $tan;
    text-transform: uppercase;
    font-weight: 700;
    font-size: .75em;
    border-radius: 0;
    color: $teal;
}