
/*===========================
  --- Featured section ----
=========================== */

.featured {
    background-image: url(/assets/images/hero-image.png), linear-gradient(0deg, rgba(33, 143, 141, 0.75) 0%, rgba(173, 164, 140, 0.75) 100%);
    background-repeat: no-repeat;
    background-size: cover;
}

.featured .row {
    padding: 350px 0 125px 0;
}

.featured .slogan {
    color: $white;
    font-size: 32px;
}

.featured .slogansub {
    color: $white;
    font-family: $serif;
    font-size: 24px;
    font-style: italic;
    font-weight: 300;
}

.featured .btn {
    background-color: $tan;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    border-radius: 0;
    color: $teal;
}

.go-to-arrow {
    margin-bottom: 20px;
    text-align: center;
}

.fa-angle-down {
    color: $white;
    font-size: 2.5em
}