// =========================================================================
//  Featured Section
//==========================================================================
.featured {
    background-image: url(/assets/images/hero-image.png), 
                      linear-gradient(0deg, rgba(33, 143, 141, 0.75) 0%, rgba(173, 164, 140, 0.75) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


// Display when inview
.featured.inview {
    .slogan {
        opacity: 1;
        -webkit-transform: translate3d(0, 0px, 0);
        -ms-transform: translate3d(0, 0px, 0);
        transform: translate3d(0, 0px, 0);
    }
    .slogansub {
        opacity: 1;
        -webkit-transform: translate3d(0, 0px, 0);
        -ms-transform: translate3d(0, 0px, 0);
        transform: translate3d(0, 0px, 0);
    }
}

.featured .row {
    padding: 230px 0 95px 0;
}

.featured .slogan {
    margin-bottom: 5px;
    color: $white;
    font-size: 2em;
    transition: all 450ms;
    // Hide for animation effect
    opacity: 0;
    -webkit-transform: translate3d(0, -25px, 0);
    -ms-transform: translate3d(0, -25px, 0);
    transform: translate3d(0, -25px, 0);
}

.featured .slogansub {
    margin-top: 0;
    color: $white;
    font-family: $serif;
    font-size: 1.5em;
    font-style: italic;
    font-weight: 300;
    transition: all 550ms;
    // Hide for animation effect
    opacity: 0;
    -webkit-transform: translate3d(0, 10px, 0);
    -ms-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
}

.btn-wrap {
    margin-top: 25px;
    position: relative;
    z-index: 1;
}

.featured .btn {
    &:after {
        content: "";
        display: block;
        height: 1px;
        width: 30%;
        background-color: $tan;
        position: absolute;
        top: 50%;
        z-index: -1;
    }
    &:hover {
        color: $dark-gray;
    }
}

.go-to-arrow {
    margin-bottom: 20px;
    text-align: center;
}

.fa-angle-down {
    color: $white;
    font-size: 2.5em
}

@media screen and (max-width: 900px) {
    .featured .btn:after {
        width: 50%;
    }
}

@media screen and (max-width: 767px) {
    .featured {
        background-position: -520px 80px;
    }
    .featured .row {
        padding-top: 310px;
        padding-bottom: 50px;
    }
}

@media screen and (max-width: 500px) {
    .featured .btn:after {
        width: 100%;
    }
}
