
/*===========================
  --- Featured section ----
=========================== */

section.featured {
    padding: 350px 0 0 20px;
    background-image: url(/assets/images/MergedLayers.png), linear-gradient(0deg, rgba(33, 143, 141, 0.75) 0%, rgba(173, 164, 140, 0.75) 100%);
    color: #fdfdfd;
    background-repeat: no-repeat;
    background-size: cover;
}

section.featured h2.slogan {
    color: #fff;
    font-size: 32px;
    font-weight: 550;
    font: serif;
}

section.featured h3.slogansub {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    font: serif;
    font-style: italic;
}

 /* inner heading */
section.featured.inner {
    background: #eee;
    padding: 150px 0 50px;
}

