// =========================================================================
//  Header and Menu
//==========================================================================
.navbar {
    display: table-cell;
    padding-bottom: 0;
    margin-bottom: 0;
    line-height: 1;
    height: 60px;
    background-color: $white;
    vertical-align: middle;
    text-align: center;
}

.navbar .navbar-collapse {
    padding-bottom: 0;
    margin-bottom: 0;
}

.nav li {
    height: 100%;
    padding-bottom: 0;
    margin-bottom: 0;
    line-height: 1;
}

.nav > li > a {
    display: table-cell;
    height: 100%;
    padding-top: 22px;
    padding-bottom: 23px;
    color: $gray;
    font-family: $serif;
    font-weight: 700;
    font-size: .938em;
    line-height: 100%;
    vertical-align: middle;
}

.nav > li.active > a {
    color: $teal;
}

.nav > li > a:hover {
    color: lighten($teal, 10%);
    background: none;
}

.navbar-nav {
    margin-bottom: 0;
    padding-bottom: 0;
    float: right;
}

.navbar > .container .navbar-brand {
    margin-left: 0;
}

.navbar-brand {
    padding: 0;
    margin-top: 10px;
    display: table-cell;
    vertical-align: middle;
    text-indent: -9999px; // hide text of logos
}

.navbar-brand .logo {
    width: 355px; // width of non-@2x logo
    height: 33px; // height of non-@2x logo
    @include retina("logo");
}

.navbar-toggle {
    padding: 0;
    margin: 0;
    width: 60px;
}

.navbar-collapse.in {
    margin-top: -5px !important;
}

// ========================================
//  Media queries
// ========================================

@media only screen and (min-device-width : 979px) and (max-device-width : 1024px)  {
    .navbar-nav {
        margin-top: 20px;
    }
}

@media (max-width: 767px) {
    .navbar.navbar-fixed-top {
        background-color: $white;
    }
    .navbar .navbar-collapse ul.nav {
        width: 100%;
        margin: 0;
        padding: 0;
        background-color: $dark-gray;
        float: none;
    }
    .navbar .navbar-collapse ul.nav li {
        border-bottom: 1px solid $dark-gray;
    }
}
