
.blogDate {
    font-size: 9px;
}

#blogArticle {
    border-top-width: 10px;
    border-bottom-width: thin;
    border-left-width: thin;
    border-right-width: thin;
    border-color: #faf4da;
    border-style: solid;
    padding-right: 3px;
    margin: 20px;
}