// ==========================================================================
//  services
// ========================================================================== 
.section-services {
	.container {
    	padding: 50px 100px 100px;
	}
	.service-col {
		h2 {
			margin-bottom: 15px;
			color: $brown;
			font-family: $serif;
			font-size: 1.5em;
		}
		p {
			width: 90%;
			margin: 0 auto;
			font-size: 1em;
			font-weight: 300;
			line-height: 1.25;
		}
	}
}