// ==========================================================================
//  services
// ========================================================================== 
.section-services {
	.service-col {
		h2 {
			color: $brown;
			font-family: $serif;
			font-size: 1.5em;
		}
		p {
			width: 90%;
			margin: 0 auto;
			font-size: 1em;
			font-weight: 300;
		}
	}
}