// ==========================================================================
//  General and Resets
// ========================================================================== 
html {
    font-size: 16px;
}

body {
    color: $gray;
    background: $white;
    font-size: 1em;
    line-height: 1.25;
    text-shadow: none;
}

.clear {
    clear: both;
}

body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: $sans;
}

h1, h2, h3, h4, h5, h6 {
    color: $dark-gray;
    font-style: normal;
    margin: 10px 0;
}

h1 { font-size: 2.25em; }
h2 { font-size: 2em; }
h3 { font-size: 1.875em; }
h4 { font-size: 1.5em; }
h5 { font-size: 1.75em; }

blockquote {
    font-family: $serif;
}

a {
  color: $teal;
}

a:hover,
a:focus,
a:active {
    color: lighten($teal, 10%);
    text-decoration: none;
    outline: none;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {
    display: block;
}


small {
    font-size: 70%;
    font-weight: 300;
}

:focus {
    outline: none;
}


/* ========================================
Media queries
========================================= */
@media (min-width: 959px) and (max-width: 1199px) {
    .navbar-nav {
        margin-top: 20px;
    }
}

@media only screen and (min-device-width : 979px) and (max-device-width : 1024px)  {

    .navbar-nav {
        margin-top: 20px;
    }
}


@media only screen and (min-width: 768px) and (max-width: 959px) {

    .navbar-nav {
        margin-top: 20px;
    }
}
@media (max-width: 767px) {

    .navbar.navbar-fixed-top {
        background-color:rgba(250,250,250,1);
    }
    .navbar .navbar-collapse ul.nav {
        background-color: #444;
        width: 100%;
        float: none;
        margin:0;
        padding:0;
    }
    .navbar .navbar-collapse ul.nav li {
        border-bottom: 1px solid #666;
    }
    section.featured {
        padding-top: 80px;
    }

    .team-member,.col-lg-4 {
        margin-bottom: 30px;
    }

    .stats .col-md-3 {
        margin-bottom: 30px;
    }
}



/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

#section-contact {
    background-image: url(/assets/images/MergedLayers1.png);
    background-size: cover;
}