// =========================================================================
//  Typography
//==========================================================================
// Colors
$white: #ffffff;
$black: #000000;
$gray: #7d7d7d;
$dark-gray: #3c3d38;

$teal: #448b85;
$tan: #e4e6ce;
$light-tan: #f4f2e9;
$brown: #6e695e;
$cream: #f4f2e9;

// Font Stacks
// Adelle Regular, Italic
$serif: "Adelle", TimesNewRoman, "Times New Roman" ,Times, Baskerville, Georgia, serif;
// ProximaNova Bold, Semibold, Light
$sans: "ProximaNova", "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;