/*=========================
  Footer
 ================= */
.social-circle li a {
  background:#35A49C;
}

a.scrollup{
  background:#35A49C;
}


section#footer {
    margin: 0;
    height: 199px;

}

section#footer .copyright {
    text-align: center;
}